<!DOCTYPE html>
<html>
  <head>
<!--     <link rel="manifest" href="manifest.webmanifest"> -->
    <link rel="manifest" href="manifest.json">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="d4w is an app designed to help you dress for the weather. It is set up to be used as an icon from your mobile device's home screen."/>
    <title>d4w, An app to help you dress for the weather!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
    <script src="./js/closet.js"></script>
    <script src="./js/sketch.js"></script>
    <script src="./js/installer.js"></script>
</head>
  <body>
    <img class="app-icon" 
         width="90px" height="90px" 
         src="/images/maskable-icon.png" 
         alt="the app icon, bits of formatted text in a code editor">
    <button id="add-button">Add to home screen</button>
  </body>
</html>