<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="d4w is an app designed to help you dress for the weather. It is set up to be used as an icon from your mobile device's home screen."/>
    <link rel="manifest" href="/js/manifest.json">
    <link rel="apple-touch-icon" href="/images/maskable-icon-512.png" />
    <base href="./">
    <title>d4w, An app to help you dress for the weather!</title>
<!--     <script src="./js/installer.js"></script> -->
</head>
  <link rel="stylesheet" href="styles/main.css">
  <script>
        // register service worker

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('sw.js', { scope: '/' })
                .then(function (reg) {
                    if (reg.installing) {
                        console.log('Service worker installing');
                    } else if (reg.waiting) {
                        console.log('Service worker installed');
                    } else if (reg.active) {
                        console.log('Service worker active');
                    }
                })
                .catch(function (error) {
                    // registration failed
                    console.log('Registration failed with ' + error);
                });
        }
    </script>
  <body>
    <div id="drop-zone">
<!--        <svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 10 10"
        >
            <path
                d="M5,3 l0,4 M3,5 l4,0"
                fill="none"
                stroke="#fff"
                stroke-width="0.5"
            />
        </svg> -->
    </div>
    <div id="topBar">
      <div class="topBarDiv">
        <label for="file-input" class="customFileOpen controlButton"
               >Upload&nbsp;Image&nbsp;📂</label
        >
        <input id="file-input" type="file" />
      </div>
      
      
      <a
         id="weatherInfo"
         onclick="refreshWeather(this)"
         class="topBarDiv controlButton"
         >Weather&nbsp;Info&nbsp;Here&nbsp;💻</a
      
      >
      
      <div id="bigTemp" class="topBarDiv controlButton">
        Big&nbsp;Temp&nbsp;Here&nbsp;‼️
      </div>
      
      <input type="image" class="refresh-button"
          src="https://cdn.glitch.global/0c5eca9e-ad7c-470d-9bb2-68c6f6d4f79b/refresh-50x50.png?v=1642998317976"
         width="20px" height="20px">
      
    </div>
    </div>
  
    
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
    <script type="text/javascript" src="./js/closet.js"></script>
    <script type="text/javascript" src="./js/sketch.js"></script>   
    
    <img class="app-icon" 
         width="90px" height="90px" 
         src="/images/maskable-icon.png" 
         alt="the app icon, bits of formatted text in a code editor">
    <button id="add-button">Add to home screen</button>
  </body>
</html>