html, body {
  margin: 0;
  padding: 0;
  height: 100%
  overflow: hidden;
}
canvas {
  display: block;
  overflow: hidden;
  height: 100%
}
.slider {
  z-index: 1;
}
.todo-item{
  border: 2px solid black;
  padding: 6px;
}