html, body {
  padding: 0px;
  margin: 0px;
  font-family: Courier;
  overflow: hidden;
}

#installer {
  position: absolute;
  margin: 20px;
  padding-top: 10px;
  z-index: 10;
  bottom: 20px;
  left: 20px;
}